/* Styles for settingTab view */
.gp-repo-actions {
  display: flex;
  gap: var(--size-2-2);
}

.gp-repo-info {
  display: flex;
  align-items: center;
  gap: var(--size-2-2);
}

.gp-repo-label {
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  min-width: fit-content;
}
